  body {
            font-family: Arial, sans-serif;
            background-color: #f4f6f8;
            margin: 0;
            padding: 20px;
        }

        .container {
            max-width: 900px;
            background: #ffffff;
            margin: auto;
            padding: 30px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        h1 {
            color: #2c3e50;
            margin-bottom: 5px;
        }

        h2 {
            color: #34495e;
            border-bottom: 2px solid #747d8f;
            padding-bottom: 5px;
            margin-top: 30px;
        }

        p {
            line-height: 1.6;
        }

        ul {
            margin-left: 20px;
            line-height: 1.5;
        }

        .contact a {
            text-decoration: none;
            color: #0077b5;
        }
           head{
            background-color: rgba(213, 217, 172, 0.276);
            padding: 20px;
        }
        .sign{
            text-align: right   ;
        }
